body{
	padding: 10px;
}
table{
    border: 1px solid #ddd;
    border-radius: 4px;
}
th, td {
    padding: 5px;
    text-align: center;
}
th{
    background-color: #23C62F;
    color: white;
}
tr:hover {

    background-color: #f5f5f5
}
tr:nth-child(even) {
    background-color: #f2f2f2
}

#contenedor{
	 		-webkit-border-radius: 10px;
            -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            -moz-border-radius: 10px;
            -moz-border-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            -o-border-radius: 10px;
            -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            font-family: sans-serif;
            font-size: 18px;
            margin: 0 auto;
            padding: 20px;
            width: 450px;
}

.campo{
	display: inline-block;
	border: solid 4px #cece76;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 35px;
	width: 400px;
}
.boton{
	margin: 5px;
    width: 85px;
    height: 55px;
    background-color: #49E83E;
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.errores{
            -webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            background: red;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            color: #fff;
            display: none;
            font-size: 14px;
            margin-top: -50px;
            margin-left: 180px;
            padding: 10px;
            position: absolute;
}
