body{
	padding: 10px;
}
table{
    border: 1px solid #ddd;
    border-radius: 4px;
}

#contenedor{
	 		-webkit-border-radius: 10px;
            -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            -moz-border-radius: 10px;
            -moz-border-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            -o-border-radius: 10px;
            -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            font-family: sans-serif;
            font-size: 18px;
            margin: 80px;
            padding: 20px;
            width: 1000px;
}
